body {
    margin: 0;
    font-family: 'Salsa';
    /* font-family: "Style Script",
    cursive; */
}

.hero_section {
    background-image: url('./images/orange-backdrop\ 1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */


}

.barger_Section {
    /* background-image: url('./images/fresh-hot-cheeseburger_783299-2766.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: orange;
    min-height: 100vh;
}

.barger_Img {
    max-width: 900px;
    width: 100%;
    display: block;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: -1px 0px 3px 3px rgba(0, 0, 0, 2);

}

.barger_Section h2 {
    font-family: 'Style Script';
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
}

.jahlar_image {
    width: 200px;
    margin-bottom: -200px;
}

.deep1,
.deep2 {
    width: 320px;
}

.hero_section p {

    font-size: 32px;
    max-width: 400px;


}

.h_line1 {

    background-color: #FBD8A4;
    height: 3px;
    width: 404px;
}

.h_dot1 {
    height: 2px;
    width: 2px;
    background-color: #FBD8A4;
    border-radius: 50%;
    border: 2px solid #FBD8A4;
}

.h_dot2 {
    height: 2px;
    width: 2px;
    background-color: #FBD8A4;
    border-radius: 50%;
    border: 2px solid #FBD8A4;
}

.h_dot3 {
    height: 2px;
    width: 2px;
    background-color: #FBD8A4;
    border-radius: 50%;
    border: 2px solid #FBD8A4;
}

.h_line2 {
    background-color: #FBD8A4;
    height: 3px;
    width: 404px;
}

.h_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-inline: auto; */
    margin-bottom: 15px;
    padding-top: 20px;
}

.paragraph_audio {
    margin-left: 180px;
}

.hero_audio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBD8A4;
    max-width: max-content;
    border-radius: 5rem;
    padding-left: 20px;
    gap: 0.7em;
}

audio::-webkit-media-controls-panel {
    background-color: #FBD8A4;
}

.white-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;


}

.white-card {

    background-color: white;
    max-width: 500px;
    padding: 4rem;
    border-radius: 24px;
}



.gir_img {
    /* display: inline-block; */
    max-width: 260px;
    width: 100%;
    margin-left: -5rem;


}

.white-card p {
    font-size: 2rem;
    /* width: 60%; */
    /* max-width: 100%; */
}

@media(max-width:850px) {
    .hero_section p {

        font-size: 20px;
    }

    .jahlar_image {
        /* width: 200px; */
        margin-bottom: -20px;
    }

    .deep2,
    .music_svg2,
    .music_span {
        display: none;
    }

    .paragraph_audio {
        margin-left: 10px;
    }

    .barger_Section h2 {

        font-size: 2.4rem;

    }

    .barger_Section {
        padding-inline: 12px;
    }

    .white-card {

        padding-block: 1rem;
        padding-left: 2rem;
    }

    .white-card p {

        font-size: 1.25rem;
    }



    .gir_img {
        /* display: inline-block; */
        max-width: 160px;
        margin-left: -4rem;



    }


}

@media(max-width:400px) {
    .jahlar_image {
        /* width: 200px; */
        margin-bottom: 0;
    }

    .deep1 {
        width: 100%;
        max-width: 300px;
    }

    .h_line1,
    .h_line2,
    .h_dot1,
    .h_dot2,
    .h_dot3 {
        height: 1px;
    }

    .white-card p {

        font-size: 0.9rem;
    }

    .white-card-p1 {
        height: 42px
    }

}