body{
    background-color: #0E1A2E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    color:#657595;
    

}
.card{
    background-color: #15273F;
    width: 100%;
    max-width: 280px;
    height: 500px;
    position: absolute;
    margin: auto;
    inset: 0;
    box-shadow: 3px 3px 1px 5px #0e1a2e;
    border-radius: 10px;
    padding: 20px;

}
.cube{
    width: 100%;
    height: 50%;
    border-radius: 20px;
    
    /* box-shadow: 1px 1px 1px 0.3px #0e1a2e; */
} 
.avt{
    width:40px ;
        margin-bottom: -11px;
}
h2{
    color: whitesmoke;
    padding-left: 10px;
}
h3{
    color:#657595;
    font-weight: lighter;
}
.p{
    color: #41B2B9;
    padding-right: 130px;
}
.spn{
    color:#657595;
    /* padding-left: 10px; */
    
}
.pn{
    color: whitesmoke;

    
}
 hr{
        height: 1.5px;
        background-color: #20324A;
        border: none;
    }
