body {
    margin: 14px;
    background-color: #EDF2F8;
    font-family: "Barlow Semi Condensed",
        sans-serif;
    /* font-weight: 100;
     font-style: normal; */
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center
}

.container {
    display: grid;
    gap: 20px;


}

.box {
    padding: 6em;
    max-width: 750px;
    /* min-height: 300px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
    /* font-size: 2rem;  */
    border-radius: 14px;

}

.box-1 {
    background-color: #733FC8;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    /* background-position-y: 7%; */
    background-position-x: 90%;
    background-size: 230px;
}

.box-2 {
    background-color: #49556B;
}

.box-3 {
    background-color: #FFFFFF;
}

.box-4 {
    background-color: #18202D;
}

.box-5 {
    background-color: #FFFFFF;
}

.box-p1 {
    font-size: 46.6px;

    font-weight: 550;
    margin-top: 0;
    color: white;
}

.box-p2 {

    color: #AB90CE;
    font-size: 32px;
}

.box1-image {
    display: flex;
    /* display: inline-block; */
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
}

.box2-image {
    display: flex;
    /* display: inline-block; */
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
}


.box1Image {
    border-radius: 50%;
    height: 65px;
    border: 4px solid #B892E7;

}

.box2Image {
    border-radius: 50%;
    height: 65px;
    /* border: 4px solid #B892E7; */

}


.box1p1 {
    font-size: 24px;
    color: white;
}

.box2p2 {
    font-size: 24px;
    color: #ffffff;
}

.box1span1 {
    color: #B892E7;
}

.box2span2 {

    color: #A2ADBE;
}

.box2-p1 {
    font-size: 45px;
    font-weight: 550;
    margin-top: 0;

    color: white;
}

.box2-p2 {
    font-size: 24px;
    color: #8B93A3;
}

.box3-image {
    display: flex;
    /* display: inline-block; */
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
}

.box3Image {
    border-radius: 50%;
    height: 65px;
    /* border: 4px solid #B892E7; */

}

.box3p1 {
    font-size: 24px;
    color: black;
}

.box3span1 {

    color: #C2C9D5;
}

.box3-p1 {
    font-size: 45px;
    font-weight: 550;
    margin-top: 0;
    color: #454F62;
}

.box3-p2 {
    font-size: 24px;
    color: #838792;
}

.box4-image {
    display: flex;
    /* display: inline-block; */
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
}

.box4Image {
    border-radius: 50%;
    height: 65px;
    /* border: 4px solid #B892E7; */

}

.box4p1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.box4span1 {

    color: #C2C9D5;
}

.box4-p1 {
    font-size: 45px;
    font-weight: 550;
    margin-top: 0;
    color: #ffffff;
}

.box4-p2 {
    font-size: 24px;
    color: #838792;
}

.box4-image {
    display: flex;
    /* display: inline-block; */
    gap: 10px;
    align-items: center;
    margin-bottom: -15px;
}

.box4Image {
    border-radius: 50%;
    height: 65px;
    /* border: 4px solid #B892E7; */

}

.box5p1 {
    font-size: 24px;
    color: #636A77
}

.box5span1 {

    color: #C2C9D5;
}

.box5-p1 {
    font-size: 45px;
    font-weight: 550;
    margin-top: 0;
    color: #455564;
    min-width: 610px;
}

.box5-p2 {
    font-size: 24px;
    color: #838792;
}